schema/biblio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:tei="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!--
    Schema generated from ODD source 2023-09-14T14:06:16Z. .
    TEI Edition: Version 4.6.0. Last updated on
            4th April 2023, revision f18deffba
    TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.6.0/
    
  -->
  <!---->
  <xs:complexType name="tei_macro.paraContent" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.paraPart"/>
  </xs:complexType>
  <xs:complexType name="tei_macro.phraseSeq" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.phrase"/>
  </xs:complexType>
  <xs:attributeGroup name="tei_att.canonical.attributes">
    <xs:attributeGroup ref="tei:tei_att.canonical.attribute.key"/>
    <xs:attributeGroup ref="tei:tei_att.canonical.attribute.ref"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.canonical.attribute.key">
    <xs:attribute name="key" type="xs:string">
      <xs:annotation>
        <xs:documentation>provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.canonical.attribute.ref">
    <xs:attribute name="ref">
      <xs:annotation>
        <xs:documentation>(reference) provides an explicit means of locating a full definition or identity for the entity being named by means of one or more URIs.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.written.attributes">
    <xs:attributeGroup ref="tei:tei_att.written.attribute.hand"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.written.attribute.hand">
    <xs:attribute name="hand">
      <xs:simpleType>
        <xs:restriction base="xs:anyURI">
          <xs:pattern value="\S+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.cReferencing.attributes">
    <xs:attributeGroup ref="tei:tei_att.cReferencing.attribute.cRef"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.cReferencing.attribute.cRef">
    <xs:attribute name="cRef" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attributes">
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attribute.when"/>
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attribute.notBefore"/>
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attribute.notAfter"/>
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attribute.from"/>
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attribute.to"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attribute.when">
    <xs:attribute name="when">
      <xs:annotation>
        <xs:documentation>supplies the value of the date or time in a standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attribute.notBefore">
    <xs:attribute name="notBefore">
      <xs:annotation>
        <xs:documentation>specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attribute.notAfter">
    <xs:attribute name="notAfter">
      <xs:annotation>
        <xs:documentation>specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attribute.from">
    <xs:attribute name="from">
      <xs:annotation>
        <xs:documentation>indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attribute.to">
    <xs:attribute name="to">
      <xs:annotation>
        <xs:documentation>indicates the ending point of the period in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.attributes">
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.datable.attribute.calendar"/>
    <xs:attributeGroup ref="tei:tei_att.datable.attribute.period"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.attribute.calendar">
    <xs:attribute name="calendar">
      <xs:annotation>
        <xs:documentation>indicates one or more systems or calendars to which the date represented by the content of this element belongs.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.attribute.period">
    <xs:attribute name="period">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.declarable.attributes">
    <xs:attributeGroup ref="tei:tei_att.declarable.attribute.default"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.declarable.attribute.default">
    <xs:attribute name="default" default="false">
      <xs:annotation>
        <xs:documentation>indicates whether or not this element is selected by default when its parent is selected.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true">
            <xs:annotation>
              <xs:documentation>This element is selected if its parent is selected</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="false">
            <xs:annotation>
              <xs:documentation>This element can only be selected explicitly, unless it is the only one of its kind, in which case it is selected if its parent is selected.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.declaring.attributes">
    <xs:attributeGroup ref="tei:tei_att.declaring.attribute.decls"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.declaring.attribute.decls">
    <xs:attribute name="decls">
      <xs:annotation>
        <xs:documentation>(declarations) identifies one or more declarable elements within the header, which are understood to apply to the element bearing this attribute and its content.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.fragmentable.attributes">
    <xs:attributeGroup ref="tei:tei_att.fragmentable.attribute.part"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.fragmentable.attribute.part">
    <xs:attribute name="part" default="N">
      <xs:annotation>
        <xs:documentation>specifies whether or not its parent element is fragmented in some way, typically by some other overlapping structure: for example a speech which is divided between two or more verse stanzas, a paragraph which is split across a page division, a verse line which is divided between two speakers.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Y">
            <xs:annotation>
              <xs:documentation>(yes) the element is fragmented in some (unspecified) respect</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="N">
            <xs:annotation>
              <xs:documentation>(no) the element is not fragmented, or no claim is made as to its completeness</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="I">
            <xs:annotation>
              <xs:documentation>(initial) this is the initial part of a fragmented element</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="M">
            <xs:annotation>
              <xs:documentation>(medial) this is a medial part of a fragmented element</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="F">
            <xs:annotation>
              <xs:documentation>(final) this is the final part of a fragmented element</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.divLike.attributes">
    <xs:attributeGroup ref="tei:tei_att.fragmentable.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.divLike.attribute.org"/>
    <xs:attributeGroup ref="tei:tei_att.divLike.attribute.sample"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.divLike.attribute.org">
    <xs:attribute name="org" default="uniform">
      <xs:annotation>
        <xs:documentation>(organization) specifies how the content of the division is organized.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="composite">
            <xs:annotation>
              <xs:documentation>no claim is made about the sequence in which the immediate contents of this division are to be processed, or their inter-relationships.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="uniform">
            <xs:annotation>
              <xs:documentation>the immediate contents of this element are regarded as forming a logical unit, to be processed in sequence.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.divLike.attribute.sample">
    <xs:attribute name="sample" default="complete">
      <xs:annotation>
        <xs:documentation>indicates whether this division is a sample of the original source and if so, from which part.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="initial">
            <xs:annotation>
              <xs:documentation>division lacks material present at end in source.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="medial">
            <xs:annotation>
              <xs:documentation>division lacks material at start and end.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="final">
            <xs:annotation>
              <xs:documentation>division lacks material at start.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="unknown">
            <xs:annotation>
              <xs:documentation>position of sampled material within original unknown.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="complete">
            <xs:annotation>
              <xs:documentation>division is not a sample.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.docStatus.attributes">
    <xs:attributeGroup ref="tei:tei_att.docStatus.attribute.status"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.docStatus.attribute.status">
    <xs:attribute name="status" default="draft">
      <xs:annotation>
        <xs:documentation>describes the status of a document either currently or, when associated with a dated element, at the time indicated.
Sample values include: 1] approved; 2] candidate; 3] cleared; 4] deprecated; 5] draft; 6] embargoed; 7] expired; 8] frozen; 9] galley; 10] proposed; 11] published; 12] recommendation; 13] submitted; 14] unfinished; 15] withdrawn</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.responsibility.attributes">
    <xs:attributeGroup ref="tei:tei_att.global.responsibility.attribute.cert"/>
    <xs:attributeGroup ref="tei:tei_att.global.responsibility.attribute.resp"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.responsibility.attribute.cert">
    <xs:attribute name="cert">
      <xs:annotation>
        <xs:documentation>(certainty) signifies the degree of certainty associated with the intervention or interpretation.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:double">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="high">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="medium">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="low">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="unknown">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.responsibility.attribute.resp">
    <xs:attribute name="resp">
      <xs:annotation>
        <xs:documentation>(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.rendition.attributes">
    <xs:attributeGroup ref="tei:tei_att.global.rendition.attribute.rend"/>
    <xs:attributeGroup ref="tei:tei_att.global.rendition.attribute.style"/>
    <xs:attributeGroup ref="tei:tei_att.global.rendition.attribute.rendition"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.rendition.attribute.rend">
    <xs:attribute name="rend">
      <xs:annotation>
        <xs:documentation>(rendition) indicates how the element in question was rendered or presented in the source text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.rendition.attribute.style">
    <xs:attribute name="style" type="xs:string">
      <xs:annotation>
        <xs:documentation>contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.rendition.attribute.rendition">
    <xs:attribute name="rendition">
      <xs:annotation>
        <xs:documentation>points to a description of the rendering or presentation used for this element in the source text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.source.attributes">
    <xs:attributeGroup ref="tei:tei_att.global.source.attribute.source"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.source.attribute.source">
    <xs:attribute name="source">
      <xs:annotation>
        <xs:documentation>specifies the source from which some aspect of this element is drawn.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.attributes">
    <xs:attributeGroup ref="tei:tei_att.global.rendition.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.global.responsibility.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.global.source.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.global.attribute.xmlid"/>
    <xs:attributeGroup ref="tei:tei_att.global.attribute.n"/>
    <xs:attributeGroup ref="tei:tei_att.global.attribute.xmllang"/>
    <xs:attributeGroup ref="tei:tei_att.global.attribute.xmlbase"/>
    <xs:attributeGroup ref="tei:tei_att.global.attribute.xmlspace"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.attribute.xmlid">
    <xs:attribute ref="xml:id"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.attribute.n">
    <xs:attribute name="n" type="xs:string">
      <xs:annotation>
        <xs:documentation>(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.attribute.xmllang">
    <xs:attribute ref="xml:lang"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.attribute.xmlbase">
    <xs:attribute ref="xml:base"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.attribute.xmlspace">
    <xs:attribute ref="xml:space"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.internetMedia.attributes">
    <xs:attributeGroup ref="tei:tei_att.internetMedia.attribute.mimeType"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.internetMedia.attribute.mimeType">
    <xs:attribute name="mimeType">
      <xs:annotation>
        <xs:documentation>(MIME media type) specifies the applicable multimedia internet mail extension (MIME) media type</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.placement.attributes">
    <xs:attributeGroup ref="tei:tei_att.placement.attribute.place"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.placement.attribute.place">
    <xs:attribute name="place">
      <xs:annotation>
        <xs:documentation>specifies where this item is placed.
Suggested values include: 1] top; 2] bottom; 3] margin; 4] opposite; 5] overleaf; 6] above; 7] right; 8] below; 9] left; 10] end; 11] inline; 12] inspace</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="top">
                        <xs:annotation>
                          <xs:documentation>at the top of the page</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="bottom">
                        <xs:annotation>
                          <xs:documentation>at the foot of the page</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="margin">
                        <xs:annotation>
                          <xs:documentation>in the margin (left, right, or both)</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="opposite">
                        <xs:annotation>
                          <xs:documentation>on the opposite, i.e. facing, page</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="overleaf">
                        <xs:annotation>
                          <xs:documentation>on the other side of the leaf</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="above">
                        <xs:annotation>
                          <xs:documentation>above the line</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="right">
                        <xs:annotation>
                          <xs:documentation>to the right, e.g. to the right of a vertical line of text, or to the right of a figure</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="below">
                        <xs:annotation>
                          <xs:documentation>below the line</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="left">
                        <xs:annotation>
                          <xs:documentation>to the left, e.g. to the left of a vertical line of text, or to the left of a figure</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="end">
                        <xs:annotation>
                          <xs:documentation>at the end of e.g. chapter or volume.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="inline">
                        <xs:annotation>
                          <xs:documentation>within the body of the text.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="inspace">
                        <xs:annotation>
                          <xs:documentation>in a predefined space, for example left by an earlier scribe.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[^\p{C}\p{Z}]+"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.typed.attributes">
    <xs:attributeGroup ref="tei:tei_att.typed.attribute.type"/>
    <xs:attributeGroup ref="tei:tei_att.typed.attribute.subtype"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.typed.attribute.type">
    <xs:attribute name="type">
      <xs:annotation>
        <xs:documentation>characterizes the element in some sense, using any convenient classification scheme or typology.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.typed.attribute.subtype">
    <xs:attribute name="subtype">
      <xs:annotation>
        <xs:documentation>(subtype) provides a sub-categorization of the element, if needed</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.pointing.attribute.target">
    <xs:attribute name="target">
      <xs:annotation>
        <xs:documentation>specifies the destination of the reference by supplying one or more URI References</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.sortable.attributes">
    <xs:attributeGroup ref="tei:tei_att.sortable.attribute.sortKey"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.sortable.attribute.sortKey">
    <xs:attribute name="sortKey">
      <xs:annotation>
        <xs:documentation>supplies the sort key for this element in an index, list or group which contains it.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="tei_model.hiLike">
    <xs:sequence>
      <xs:element ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike">
    <xs:sequence>
      <xs:element ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.highlighted">
    <xs:choice>
      <xs:group ref="tei:tei_model.hiLike"/>
      <xs:group ref="tei:tei_model.emphLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.highlighted_alternation">
    <xs:choice>
      <xs:group ref="tei:tei_model.hiLike_alternation"/>
      <xs:group ref="tei:tei_model.emphLike_alternation"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.highlighted_sequence">
    <xs:sequence>
      <xs:group ref="tei:tei_model.hiLike_sequence"/>
      <xs:group ref="tei:tei_model.emphLike_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.highlighted_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="tei:tei_model.hiLike_sequenceOptional"/>
      <xs:group minOccurs="0" ref="tei:tei_model.emphLike_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.highlighted_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.hiLike_sequenceOptionalRepeatable"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.emphLike_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.highlighted_sequenceRepeatable">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="tei:tei_model.hiLike_sequenceRepeatable"/>
      <xs:group maxOccurs="unbounded" ref="tei:tei_model.emphLike_sequenceRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.ptrLike">
    <xs:sequence>
      <xs:element ref="tei:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.ptrLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.ptrLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.ptrLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.ptrLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.ptrLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.biblLike">
    <xs:choice>
      <xs:element ref="tei:bibl"/>
      <xs:element ref="tei:listBibl"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.biblLike_alternation">
    <xs:choice>
      <xs:element ref="tei:bibl"/>
      <xs:element ref="tei:listBibl"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.biblLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:bibl"/>
      <xs:element ref="tei:listBibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.biblLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:bibl"/>
      <xs:element minOccurs="0" ref="tei:listBibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.biblLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:bibl"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:listBibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.biblLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:bibl"/>
      <xs:element maxOccurs="unbounded" ref="tei:listBibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike">
    <xs:sequence>
      <xs:element ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike">
    <xs:sequence>
      <xs:element ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike">
    <xs:sequence>
      <xs:element ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.divPart">
    <xs:sequence>
      <xs:group ref="tei:tei_model.pLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.publicationStmtPart.detail">
    <xs:sequence>
      <xs:group ref="tei:tei_model.ptrLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.divTopPart">
    <xs:sequence>
      <xs:group ref="tei:tei_model.headLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.divTop">
    <xs:sequence>
      <xs:group ref="tei:tei_model.divTopPart"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.inter">
    <xs:choice>
      <xs:group ref="tei:tei_model.biblLike"/>
      <xs:group ref="tei:tei_model.labelLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.common">
    <xs:choice>
      <xs:group ref="tei:tei_model.divPart"/>
      <xs:group ref="tei:tei_model.inter"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.phrase">
    <xs:choice>
      <xs:group ref="tei:tei_model.highlighted"/>
      <xs:group ref="tei:tei_model.ptrLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.paraPart">
    <xs:choice>
      <xs:group ref="tei:tei_model.inter"/>
      <xs:group ref="tei:tei_model.phrase"/>
    </xs:choice>
  </xs:group>
  <xs:element name="tei_model.divLike" abstract="true">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.divTop"/>
        <xs:choice minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="tei:tei_model.divLike"/>
          <xs:sequence>
            <xs:group maxOccurs="unbounded" ref="tei:tei_model.common"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.divLike"/>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.divLike.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.declaring.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.written.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tei_model.resource" abstract="true">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_body">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.declaring.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.written.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="p">
    <xs:annotation>
      <xs:documentation>(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.paraContent">
          <xs:attribute name="rend">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="indent">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="hi">
    <xs:annotation>
      <xs:documentation>(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made. [3.3.2.2. Emphatic Words and Phrases 3.3.2. Emphasis, Foreign Words, and Unusual Language]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.paraContent">
          <xs:attribute name="rend" use="required">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="italics">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="bold">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="underline">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="superscript">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ref">
    <xs:annotation>
      <xs:documentation>(reference) defines a reference to another location, possibly modified by additional text or comment. [3.7. Simple Links and Cross-References 16.1. Links]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.paraContent">
          <xs:attributeGroup ref="tei:tei_att.cReferencing.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.internetMedia.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.pointing.attribute.target"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="label">
    <xs:annotation>
      <xs:documentation>(label) contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.8. Lists]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.phraseSeq">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.placement.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.written.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:annotation>
      <xs:documentation>(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="tei:tei_model.phrase"/>
        <xs:group ref="tei:tei_model.inter"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.placement.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.written.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:annotation>
      <xs:documentation>(title) contains a title for any kind of work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.paraContent">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.typed.attribute.subtype"/>
          <xs:attributeGroup ref="tei:tei_att.canonical.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.datable.attributes"/>
          <xs:attribute name="type">
            <xs:annotation>
              <xs:documentation>classifies the title according to some convenient typology.
Sample values include: 1] main; 2] sub (subordinate); 3] alt (alternate); 4] short; 5] desc (descriptive)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:pattern value="[^\p{C}\p{Z}]+"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="level">
            <xs:annotation>
              <xs:documentation>indicates the bibliographic level for a title, that is, whether it identifies an article, book, journal, series, or unpublished material.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="a">
                  <xs:annotation>
                    <xs:documentation>(analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="m">
                  <xs:annotation>
                    <xs:documentation>(monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="j">
                  <xs:annotation>
                    <xs:documentation>(journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="s">
                  <xs:annotation>
                    <xs:documentation>(series) the title applies to a series of otherwise distinct publications such as a collection</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="u">
                  <xs:annotation>
                    <xs:documentation>(unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="bibl">
    <xs:annotation>
      <xs:documentation>(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.12.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="tei:label"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="tei:title"/>
          <xs:element ref="tei:ref"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="tei:tei_att.sortable.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.docStatus.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="listBibl">
    <xs:annotation>
      <xs:documentation>(citation list) contains a list of bibliographic citations of any kind. [3.12.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.headLike"/>
        <xs:group maxOccurs="unbounded" ref="tei:tei_model.biblLike"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.sortable.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.declarable.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:annotation>
      <xs:documentation>(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_fileDesc">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="tei_fileDesc">
    <xs:sequence>
      <xs:element ref="tei:fileDesc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fileDesc">
    <xs:annotation>
      <xs:documentation>(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element ref="tei:titleStmt"/>
          <xs:element ref="tei:publicationStmt"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:sourceDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:annotation>
      <xs:documentation>(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:title"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:annotation>
      <xs:documentation>(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="tei:tei_model.pLike"/>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:annotation>
      <xs:documentation>(source description) describes the source(s) from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="tei:tei_model.pLike"/>
        <xs:group maxOccurs="unbounded" ref="tei:tei_model.biblLike"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.declarable.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:teiHeader"/>
        <xs:choice>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="tei:tei_model.resource"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:TEI"/>
          </xs:sequence>
          <xs:element maxOccurs="unbounded" ref="tei:TEI"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
      <xs:attribute name="version">
        <xs:annotation>
          <xs:documentation>specifies the version number of the TEI Guidelines against which this document is valid.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="[\d]+(\.[\d]+){0,2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" substitutionGroup="tei:tei_model.resource">
    <xs:annotation>
      <xs:documentation>(text) contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tei_body">
    <xs:sequence>
      <xs:element ref="tei:body"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation>(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:group ref="tei:tei_model.divTop"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.divTop"/>
        </xs:sequence>
        <xs:choice>
          <xs:element maxOccurs="unbounded" ref="tei:tei_model.divLike"/>
          <xs:sequence>
            <xs:group maxOccurs="unbounded" ref="tei:tei_model.common"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.divLike"/>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div" substitutionGroup="tei:tei_model.divLike">
    <xs:annotation>
      <xs:documentation>(text division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body]</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
